<p> Show Post </p>

<p> <%= @post.post_body %> </p>

<%= image_tag("#{@post.photo_url}", :alt => "Delicious food") %>

<!-- <img src="http://stout.hampshire.edu/~jll09/biscologo.jpg"> -->

<% @post.comments.each do |comment| %>
<ul>
  <li> <%= comment.author %> </li>
  <li> <%= comment.comment_body %> </li>
  <% end %>
</ul>

<p>
<%= link_to "Add Comment", new_post_comment_path(@post.id) %>
</p>

<%= form_for(@post, method: :delete) do |f| %>
  <%= f.submit "Delete Post", class: "delete" %>
<% end %>
