<p class="showPostHeading">User <%= @post.user.try(:username) %>'s <%= @post.title %> </p>

<div class="photoShow">
  <%= image_tag("#{@post.photo_url}", :class => "imageShow") %>
</div>

<p class="postBodyShowPost"> <%= simple_format(@post.post_body, class: 'postBodyShowPost') %> </p>



<div class="commentSection">
  <p> comments </p>
<!-- I'm curious how the comments are indenting like that. Additionally, it would be
really nice if i could create a comment right on the show page. How could we incorporate that? -->
    <% @post.comments.each do |comment| %>
    <ul>
      <li><%= comment.user.try(:username) %> says</li>
      <%# if statement for showing edit button #%>
      <%= comment.comment_body %> <% if comment.user == @current_user %> <%= link_to "(Edit)", edit_post_comment_path(@post.id, comment.id) %> <% end %>
    <% end %>
    </ul>

<p id="addComment">
  <%= link_to "Add Comment", new_post_comment_path(@post.id) %>
</p>
</div>


<%# if statement for showing delete button #%>

<%= form_for(@post, method: :delete) do |f| %>
  <% if @post.user == @current_user %>
  <%= f.submit "Delete Post", class: "delete" %>
  <% end %>
<% end %>
