<p> Show Post </p>

<p class="showPostHeading">User <%= @post.user.try(:username) %>'s <%= @post.title %> </p>

<div class="photoShow">
<%= image_tag("#{@post.photo_url}", :class => "imageShow") %>
</div>

<p class="postBodyShowPost"> <%= simple_format(@post.post_body, class: 'postBodyShowPost') %> </p>

<p> comments </p>

<% @post.comments.each do |comment| %>
<ul>
  <li><%= comment.user.try(:username) %> says</li>
  <%= comment.comment_body %>
  <% end %>
</ul>

<p>
<%= link_to "Add Comment", new_post_comment_path(@post.id) %>
</p>

<%= form_for(@post, method: :delete) do |f| %>
  <%= f.submit "Delete Post", class: "delete" %>
<% end %>
