<!DOCTYPE html>
<html>
<head>
  <title>KetoCookBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="topNav">
    <ul>
    <% if session[:user] %>
      <li><a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></li>
    <% else %>
      <li><a href="/sign_up">Sign up</a></li>
      <li><a href="/sign_in">Sign in</a></li>
    <% end %>
    <li><%= link_to "Add New Recipe", new_post_path(@post) %></li>
    <li><a href="http://www.reddit.com/r/keto">What is Keto?</a></li>
    <li><a href="http://www.reddit.com/r/ketogains">Do you lift, bro?</a></li>
    <li><a href="http://M00staff.github.io">Back to GitHub Pages</a></li>
    <li><a href="/">Home</a></li>
  </ul>
  </nav>

<div class="sideBar">
  <ul>
    <li></li>
    <li>The KetoCookBook is an online database for submitting and storing your low-carb recipies and ideas</li>
    <li></li>
    <li>Please feel free to submit whatever you want</li>
    <li></li>
    <li>For more information about a Ketogenic diet visit <a href "www.reddit.com/r/keto">reddit.com/r/keto</a></li>
  </ul>
</div>

  <h1>The Keto CookBook</h1>



<%= flash[:notice] %>

<div class="mainBody">
<%= yield %>
</div>

</body>
</html>
