<!DOCTYPE html>
<html>
<head>
  <title>KetoCookBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="topNav">
    <ul>
    <% if session[:user] %>
      <li><a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></li>
    <% else %>
      <li><a href="/sign_up">Sign up</a></li>
      <li><a href="/sign_in">Sign in</a></li>
    <% end %>
    <li><a href="/posts">Home</a></li>
  </ul>
  </nav>

<div class="sideBar">
  <ul>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
  </ul>
</div>

  <h1>The KetoCookBook</h1>



<%= flash[:notice] %>

<%= yield %>

</body>
</html>
